<!DOCTYPE html>
<html lang="en">
  <!-- <head>
    <%- //include('../partials/head', {pageTitle: 'Files'}); %>
    <link href="<%= //node_modules_asset_path('highlight.js/styles/default.css') %>" rel="stylesheet">
    <style>
      .popover{
        max-width: 50%;
      }
    </style>
  </head>
  <body>
    <%- //include('../partials/navbar'); %>
    <div class="container-fluid">
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          README.md for question <%= //question.qid %>
        </div>

        <div class="table-responsive">
    </div>
    <div>
      <%- //readMeData %>
    </div>
    <script src="<%= //asset_path('localscripts/questionPageScripts.js') %>"></script>
  </body> -->
</html>
